<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>

	<!-- main -->
	<div layout:fragment="content">
		<section class="hero hero-game"
			th:style="'background:url('+ ${videogioco.imageUrl} +'); background-size: 100%;'">
			<div class="overlay"></div>
			<div class="container">
				<div class="hero-block">
					<div class="hero-left">
						<h2 th:text="${videogioco.titolo}" class="hero-title"></h2>
					</div>
				</div>
			</div>
		</section>

		<section class="post">
			<div class="container">
				<div class="alert alert-success" role="alert" th:text="#{common.operazioneok}" th:if="${success}"></div>
				<!-- Button trigger modal -->
				<div class="row">
					<div class="col-2">
						<button type="button" class="btn btn-dark btn-shadow btn-rounded" data-toggle="modal"
							data-target="#modal-login">[[#{videogioco.vendita}]]<i
								class="fa fa-shopping-cart"></i></button>
					</div>
				</div>

				<div class="modal fade" id="modal-login">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><i class="fa fa-shopping-cart"></i>
									[[#{videogioco.venditaPrivata}]]</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-t-20 p-b-50 post">

			<form th:action="@{/videogiochi/createConversazione(usernamePartecipante=simone)}" th:object="${conversazione}"
				method="post">
				<button type="submit"
					class="btn btn-primary ml-4">conversazione</button>
			</form>
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
					</div>
					<div class="col-lg-4">
						<!-- sidebar -->
						<div class="sidebar">
							<!-- widget game -->
							<div class="widget widget-game">
								<div class="widget-block"
									style="background-image: url('https://wallpapercave.com/wp/wp1978954.jpg')">
									<div class="overlay"></div>
									<div class="widget-item">
										<div class="row mb-2">
											<h4 th:text="${videogioco.titolo}"></h4>
										</div>
										<div class="row mb-2"><span th:text="${videogioco.annoDiUscita}"
												class="meta"></span>
										</div>
										<div class="row">
											<a th:if="${videogioco.ps4 != false}" href="#"><span
													class="badge badge-ps4">Ps4</span></a>
											<a th:if="${videogioco.xbox != false}" href="#"><span
													class="badge badge-xbox-one">Xbox
													One</span></a>
											<a th:if="${videogioco.pc != false}" href="#"><span
													class="badge badge-steam">Pc</span></a>
										</div>
										<h5>[[#{videogioco.descrizione}]]</h5>
										<p
											th:text="${#locale.language == 'it' ? videogioco.descrizione : videogioco.descrizioneEN}">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-l-50 p-r-50">
			<h3 th:text="#{videogioco.commenti}" class="mb-5"></h3>
			<div th:each="commento: ${videogioco.commenti}" class="card" style="width:45%">
				<div class="card-content">
					<div class="card-header justify-content-between">
						<h4 th:text="${commento.utente.username}" class="col-6 card-title"></h4>
						<form th:if="${commento.utente == utente}" class="col-6"
							th:action="@{/videogiochi/deleteCommento(idCommento=${commento.id}, idVideogioco=${videogioco.id})}"
							th:object="${commento}" method="post">
							<button class="close" aria-label="Close" type="submit">
								<span aria-hidden="true">&times;</span>
							</button>
						</form>
					</div>
					<div class="card-body">
						<p th:text="${commento.contenuto}"></p>
					</div>
				</div>
			</div>
			<form th:if="${utente != null}" th:action="@{/videogiochi/addCommento}" th:object="${commento}"
				method="post">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="contenuto">Inserisci la tua recensione</label>
						<input maxlength="255" id="contenuto" name="contenuto" class="form-control"
							placeholder="Testo recensione...">
					</div>
				</div>
				<button th:value="${videogioco.id}" th:name="videogioco" type="submit"
					class="btn btn-primary">Invia</button>
			</form>
		</section>
	</div>
	<!-- /main -->

</body>

</html>