<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>

	<!-- main -->
	<div layout:fragment="content">
		<section class="hero hero-game"
			th:style="'background:url('+ ${videogioco.imageUrl} +'); background-size: 100%;'">
			<div class="overlay"></div>
			<div class="container">
				<div class="hero-block">
					<div class="hero-left">
						<h2 th:text="${videogioco.titolo}" class="hero-title"></h2>
					</div>
				</div>
			</div>
		</section>

		<section class="post">
			<div class="container">
				<div class="alert alert-success" role="alert" th:text="#{common.operazioneok}" th:if="${success}"></div>
				<!-- Button trigger modal -->
				<div class="row">
					<div class="col-2">
						<button type="button" class="btn btn-dark btn-shadow btn-rounded" data-toggle="modal"
							data-target="#modal-login">[[#{videogioco.vendita}]]<i
								class="fa fa-shopping-cart"></i></button>
					</div>
				</div>

				<div class="modal fade" id="modal-login">
					<div class="modal-dialog modal-sm" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title"><i class="fa fa-shopping-cart"></i>
									[[#{videogioco.venditaPrivata}]]</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-t-10">
			<div class="container">
				<div class="row">
					<div class="col-lg-8">
					</div>
					<div class="col-lg-4">
						<!-- sidebar -->
						<div class="sidebar">
							<!-- widget game -->
							<div class="widget widget-game">
								<div class="widget-block"
									style="background-image: url('https://wallpapercave.com/wp/wp1978954.jpg')">
									<div class="overlay"></div>
									<div class="widget-item">
										<div class="row mb-2">
											<h4 th:text="${videogioco.titolo}"></h4>
										</div>
										<div class="row mb-2"><span th:text="${videogioco.annoDiUscita}" class="meta"></span>
										</div>
										<div class="row">
											<a th:if="${videogioco.ps4 != false}" href="#"><span
													class="badge badge-ps4">Ps4</span></a>
											<a th:if="${videogioco.xbox != false}" href="#"><span
													class="badge badge-xbox-one">Xbox
													One</span></a>
											<a th:if="${videogioco.pc != false}" href="#"><span
													class="badge badge-steam">Pc</span></a>
										</div>
										<h5>[[#{videogioco.descrizione}]]</h5>
										<p
											th:text="${#locale.language == 'it' ? videogioco.descrizione : videogioco.descrizioneEN}">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /main -->

</body>

</html>