<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>

	<!-- main -->
	<div layout:fragment="content">
		<section class="hero hero-game"
			th:style="'background:url('+ ${videogioco.imageUrl} +'); background-size: 100%;'">
			<div class="overlay"></div>
			<div class="container">
				<div class="hero-block">
					<div class="hero-left">
						<h2 th:text="${videogioco.titolo}" class="hero-title"></h2>
					</div>
				</div>
			</div>
		</section>

		<section class="post">
			<div class="container">
				<div class="alert alert-success" role="alert" th:text="#{common.operazioneok}" th:if="${success}"></div>
				<!-- Button trigger modal -->
				<div class="row">
					<div class="col-2">
						<button type="button" class="btn btn-dark btn-shadow btn-rounded" data-toggle="modal"
							data-target="#modal-login">[[#{videogioco.vendita}]]<i
								class="fa fa-shopping-cart"></i></button>
					</div>
					<div>
						<form th:action="@{/videogiochi/gameFromWishlist}" th:object="${videogioco}">
							<input type="hidden" th:name="uri" th:value="${#httpServletRequest.requestURI}">
							<button th:value="${videogioco.id}" th:name="videogioco"
								class="btn btn-dark btn-shadow btn-rounded" type="submit"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiDesiderati.contains(videogioco)} ? 'color: CornflowerBlue' : 'color: light-grey') : 'color: light-grey'">
								[[#{videogioco.addTo}]] Wishlist<i class="fa fa-heart"></i></button>
						</form>
					</div>
					<div class="col-3">
						<form th:action="@{/videogiochi/gameFromPlayedlist}" th:object="${videogioco}">
								<input type="hidden" th:name="uri" th:value="${#httpServletRequest.requestURI}">
							<button th:value="${videogioco.id}" th:name="videogioco"
								class="btn btn-dark btn-shadow btn-rounded" type="submit"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiGiocati.contains(videogioco)} ? 'color: CornflowerBlue' : 'color: light-grey') : 'color: light-grey'">
								[[#{videogioco.addTo}]] Playedlist<i class="fa fa-gamepad"></i></button>
						</form>
					</div>
					
					
					
					<div class="col-1">
						<form th:action="@{/videogiochi/gameLiked}" th:object="${videogioco}">
							<button class="btn btn-dark btn-shadow btn-rounded" th:value="${videogioco.id}"
								th:name="videogioco"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiPiaciuti.contains(videogioco)}  ? 'color: CornflowerBlue' : 'color: light-grey') : 'color: light-grey'"
								type="submit"><i class="fa fa-thumbs-up"></i>
								<span th:text="${videogioco.piaciuti.size}"></button>
						</form>
					</div>
					<div>
						<form th:action="@{/videogiochi/gameUnliked}" th:object="${videogioco}">
							<button class="btn btn-dark btn-shadow btn-rounded" th:value="${videogioco.id}"
								th:name="videogioco"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiNonPiaciuti.contains(videogioco)}  ? 'color: CornflowerBlue' : 'color: light-grey') : 'color: light-grey'"
								type="submit"><i class="fa fa-thumbs-down"></i>
								<span  th:text="${videogioco.nonPiaciuti.size}"></button>
						</form>
					</div>
					
					<div class="modal fade" id="modal-login">
						<div class="modal-dialog modal-sm" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title"><i class="fa fa-shopping-cart"></i>
										[[#{videogioco.venditaPrivata}]]</h5>
									<button type="button" class="close" data-dismiss="modal" aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>

								<div class="modal-body p-a-20">
									<form th:action="@{/videogiochi/addGameToSellinglist}"
										th:object="${videogiocoInVendita}" method="post">
										<div class="input-group mb-3">
										</div>
										<h4 th:text="${videogioco.titolo}"></h4>
										<div class="divider"></div>
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-dollar"></i>
											<input type="number" class="form-control form-control-secondary" id="prezzo"
												name="prezzo" th:placeholder="#{videogioco.venditaPrezzo}" required>
										</div>
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-plane"></i>
											<input type="number" class="form-control form-control-secondary"
												id="prezzoSpedizione" name="prezzoSpedizione"
												th:placeholder="#{videogioco.venditaSpedizione}" required>
										</div>

										<div class="dropdown">
											<select class="form-control" id="provincia" name="provincia" required>
												<div class="dropdown-menu dropdown-menu-right">
													<option value="" selected disabled hidden>
														[[#{videogioco.venditaLuogo}]]
													</option>
													<option value="provincia" th:each="pincode : ${pincodes}"
														th:if="${pincodes != null}" th:value="${pincode.provincia}"
														class="dropdown-item">[[${pincode.provincia}]]</option>
												</div>
											</select>
											<div class="divider"></div>
										</div>

										<div class="dropdown float-left">
											<select class="form-control" name="piattaforma" required>
												<div class="dropdown-menu dropdown-menu-right">
													<option value="" selected disabled hidden>
														[[#{videogioco.venditaPiattaforma}]]
													</option>
													<option value="PS4" th:if="${videogioco.ps4}" th:value="PS4"
														class="dropdown-item">PS4</option>
													<option value="Xbox" th:if="${videogioco.xbox}" th:value="Xbox"
														class="dropdown-item">Xbox</option>
													<option value="Pc" th:if="${videogioco.pc}" th:value="Pc"
														class="dropdown-item">Pc</option>
												</div>
											</select>
											<div class="divider"></div>
										</div>
										<button th:value="${videogioco.id}" th:name="videogioco" type="submit"
											th:text="#{common.submit}" class="btn btn-primary btn-block m-t-10"> <i
												class="fa fa-sign-in"></i></button>
									</form>
								</div>
							</div>
						</div>
					</div>
					<div th:each="videogiocoInVendita : ${utente.videogiochiInVendita}">
						<div class="modal fade" th:id="'modal-videogioco-in-vendita-' + ${videogiocoInVendita.id}">
							<div class="modal-dialog modal-sm" role="document">
								<div class="modal-content">
									<div class="modal-header">
										<h5 class="modal-title"><i class="fa fa-shopping-cart"></i>
											[[#{videogioco.venditaPrivata}]]</h5>
										<button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										</button>
									</div>
									<div class="modal-body p-a-20">
										<form th:action="@{/videogiochi/editSellingGame}" method="post"
											th:object="${videogiocoInVendita}">
											<h4 th:text="${videogioco.titolo}"></h4>
											<div class="divider"></div>
											<input type="hidden" th:value="${videogiocoInVendita.id}" th:name="id"
												th:id="id" class="form-control">
											<div class="form-group input-icon-left m-b-10">
												<i class="fa fa-dollar"></i>
												<input type="number" class="form-control form-control-secondary"
													th:value="${videogiocoInVendita.prezzo}" th:name="prezzo"
													th:id="prezzo" th:placeholder="#{videogioco.venditaPrezzo}"
													required>
											</div>
											<div class="form-group input-icon-left m-b-10">
												<i class="fa fa-plane"></i>
												<input type="number" class="form-control form-control-secondary"
													th:value="${videogiocoInVendita.prezzoSpedizione}"
													th:name="prezzoSpedizione" th:id="prezzoSpedizione"
													th:placeholder="#{videogioco.venditaSpedizione}">
											</div>

											<div class="dropdown">
												<select class="form-control" name="provincia" required>
													<div class="dropdown-menu dropdown-menu-right">
														<option th:value="${videogiocoInVendita.provincia}"
															th:name="provincia" selected hidden>
															[[${videogiocoInVendita.provincia}]]
														</option>
														<option value="provincia" th:each="pincode : ${pincodes}"
															th:if="${pincodes != null}" th:value="${pincode.provincia}"
															class="dropdown-item">[[${pincode.provincia}]]</option>
													</div>
												</select>
												<div class="divider"></div>
											</div>

											<div class="dropdown float-left">
												<select class="form-control" name="piattaforma" required>
													<div class="dropdown-menu dropdown-menu-right">
														<option value="PS4" th:if="${videogioco.ps4}"
															th:selected="${videogiocoInVendita.piattaforma.equals('PS4')}"
															th:value="PS4" class="dropdown-item">PS4</option>
														<option value="Xbox" th:if="${videogioco.xbox}"
															th:selected="${videogiocoInVendita.piattaforma.equals('Xbox')}"
															th:value="Xbox" class="dropdown-item">Xbox</option>
														<option value="Pc" th:if="${videogioco.pc}" th:value="Pc"
															th:selected="${videogiocoInVendita.piattaforma.equals('Pc')}"
															class="dropdown-item">Pc</option>
													</div>
												</select>
												<div class="divider"></div>
											</div>
											<button th:value="${videogioco.id}" th:name="videogioco" type="submit"
												th:text="#{common.submit}" class="btn btn-primary btn-block m-t-10"> <i
													class="fa fa-sign-in"></i></button>
										</form>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		</section>
		<section class="p-t-20 p-b-50 post">

			<div class="container">
				<div class="row">
					<div class="col-lg-8">


						<div class="mb-5" th:if="${videogioco.amazon.isEmpty() && videogioco.gamestop.isEmpty()}">
							<h4 th:text="#{videogioco.storeNo}"></h4>
						</div>
						<div th:if="${!videogioco.amazon.isEmpty() || !videogioco.gamestop.isEmpty()}">
							<h4 th:text="#{videogioco.storeYes}"></h4>
						</div>
						<div class="post">
							<div class="row">
								<a th:each="link : ${videogioco.amazon}" class="col-md-3" th:href="${link.amazonUrl}"
									target="_blank">
									<img class="mt-4"
										src="https://www.kanguru.it/wp-content/uploads/2017/09/amazon-logo.png"
										style="display: block; max-width:160px; max-height:35px; width: auto; height: auto;">
									<h4 th:text="${link.prezzoAmazon} + €"></h4>
									<span th:if="${link.piattaforma.equals('PS4')}" class="badge badge-ps4">Ps4</span>
									<span th:if="${link.piattaforma.equals('Xbox')}"
										class="badge badge-xbox-one">Xbox</span>
									<span th:if="${link.piattaforma.equals('PC')}" class="badge badge-steam">Pc</span>
								</a>
							</div>
							<div class="row">
								<a th:each="link : ${videogioco.gamestop}" class="col-md-3"
									th:href="${link.gamestopUrl}" target="_blank">
									<img class="mt-4" src="https://www.gamestop.it/Views/Locale/Content/Images/logo.png"
										style="display: block; max-width:160px; max-height:35px; width: auto; height: auto;">
									<h4 th:text="${link.prezzoGamestop} + €"></h4>
									<span th:if="${link.piattaforma.equals('PS4')}" class="badge badge-ps4">Ps4</span>
									<span th:if="${link.piattaforma.equals('Xbox')}"
										class="badge badge-xbox-one">Xbox</span>
									<span th:if="${link.piattaforma.equals('PC')}" class="badge badge-steam">Pc</span>
								</a>
							</div>
						</div>
						<div th:if="${!videogioco.videogiochiInVendita.isEmpty()}">
							<!-- post -->
							<div class="post">
								<h4 th:text="#{videogioco.privata}"></h4>
							</div>
							<div class="post">
								<table class="table table-hover">
									<thead>
										<tr>
											<!-- <th>Utente</th> -->
											<th th:text="#{profilo.username}"></th>
											<th th:text="#{videogioco.prezzo}"></th>
											<th th:text="#{videogioco.spedizione}"></th>
											<th th:text="#{videogioco.provincia}"></th>
											<th th:text="#{profilo.piattaformagioco}"></th>
										</tr>
									</thead>
									<tbody>
										<tr th:each=" videogiocoInVendita : ${videogioco.videogiochiInVendita}">
											<td th:text="${videogiocoInVendita.utente.username}"></td>
											<td th:text="${videogiocoInVendita.prezzo}+ '€'"></td>
											<td th:text="${videogiocoInVendita.prezzoSpedizione}+ '€'"></td>
											<td th:text="${videogiocoInVendita.provincia}"></td>
											<td th:text="${videogiocoInVendita.piattaforma}"></td>
											<td th:if="${videogiocoInVendita.utente.equals(utente)}">
												<button class="btn btn-link p-a-5" data-toggle="modal"
													th:data-target="${'#modal-videogioco-in-vendita-'+videogiocoInVendita.id}"><i
														class="fa fa-edit"></i></button>
											</td>
											<td th:if="${videogiocoInVendita.utente.equals(utente)}">
												<form th:action="@{/videogiochi/removeGameFromSellinglist}">
													<button th:value="${videogiocoInVendita.id}"
														th:name="videogiocoInVendita" type="submit"
														class="btn btn-link p-a-5"><i
															class="fa fa-trash-o"></i></button>
												</form>
											</td>
											<p th:text="${videogiocoInVendita.utente.username}"></p>
											<td th:if="${videogiocoInVendita.utente != utente}">
												<form th:action="@{/videogiochi/createConversazione(usernamePartecipante=${videogiocoInVendita.utente.username})}">
													<input type="hidden" th:name="usernamePartecipante" th:value="${videogiocoInVendita.utente.username}">
													<button type="submit" class="btn btn-link p-a-5"><i
															class="fa fa-wechat"></i></button>
												</form>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
						</div>

					</div>
					<div class="col-lg-4">
						<!-- sidebar -->
						<div class="sidebar">
							<!-- widget game -->
							<div class="widget widget-game">
								<div class="widget-block"
									style="background-image: url('https://wallpapercave.com/wp/wp1978954.jpg')">
									<div class="overlay"></div>
									<div class="widget-item">
										<div class="row mb-2">
											<h4 th:text="${videogioco.titolo}"></h4>
										</div>
										<div class="row mb-2"><span th:text="${videogioco.annoDiUscita}"
												class="meta"></span>
										</div>
										<div class="row">
											<a th:if="${videogioco.ps4 != false}" href="#"><span
													class="badge badge-ps4">Ps4</span></a>
											<a th:if="${videogioco.xbox != false}" href="#"><span
													class="badge badge-xbox-one">Xbox
													One</span></a>
											<a th:if="${videogioco.pc != false}" href="#"><span
													class="badge badge-steam">Pc</span></a>
										</div>
										<h5>[[#{videogioco.descrizione}]]</h5>
										<p th:text="${#locale.language == 'it' ? videogioco.descrizione : videogioco.descrizioneEN}">
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
		<section class="p-l-50 p-r-50">
			<h3 th:text="#{videogioco.commenti}" class="mb-5"></h3>
			<div th:each="commento: ${videogioco.commenti}" class="card" style="width:45%">
				<div class="card-content">
					<div class="card-header justify-content-between">
						<h4 th:text="${commento.utente.username}" class="col-6 card-title"></h4>
						<form th:if="${commento.utente.equals(utente)}" class="col-6"
							th:action="@{/videogiochi/deleteCommento(idCommento=${commento.id}, idVideogioco=${videogioco.id})}"
							th:object="${commento}" method="post">
							<button class="close" aria-label="Close" type="submit">
								<span aria-hidden="true">&times;</span>
							</button>
						</form>
					</div>
					<div class="card-body">
						<p th:text="${commento.contenuto}"></p>
					</div>
				</div>
			</div>
			<form th:if="${utente != null}" th:action="@{/videogiochi/addCommento}" th:object="${commento}"
				method="post">
				<div class="form-row">
					<div class="form-group col-md-6">
						<label for="contenuto">Inserisci la tua recensione</label>
						<input maxlength="255" id="contenuto" name="contenuto" class="form-control"
							placeholder="Testo recensione..." required>
					</div>
				</div>
				<button th:value="${videogioco.id}" th:name="videogioco" type="submit"
					class="btn btn-primary">Invia</button>
			</form>
		</section>
	</div>
	<!-- /main -->

</body>

</html>