<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>

	<!-- main -->
	<div layout:fragment="content">

		<section class="p-t-30">
			<div class="container">
				<div class="alert alert-danger" role="alert" th:text="#{common.errore.title}" th:if="${error}">
				</div>
				<div class="toolbar-custom">
					<form
						th:action="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, platform=${param.platform})}"
						method="get" class="float-left cold-12 col-sm-6 p-l-0 p-r-10">
						<div class="input-group mb-3">
							<input th:value="${searchString}" name="searchString" th:placeholder="#{videogioco.ricerca}"
								class="form-control" maxlength="100"
								style="border-top-right-radius: 0px; border-bottom-right-radius: 0px;">
							<div class="input-group-append">
								<button class="btn btn-light" type="submit"
									style="border-top-left-radius: 0px; border-bottom-left-radius: 0px;"><i
										class="fa fa-search"></i></button>
							</div>
						</div>
					</form>
					
					<div class="btn-group float-right m-l-5 hidden-sm-down" role="group">
						<a class="btn btn-default btn-icon" role="button"
							th:href="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, searchString=${param.searchString})}"
							th:classappend="${param.platform == null} ? 'active' : ''">
							[[#{videogioco.filtroAll}]]</a>
						<a class="btn btn-default btn-icon" role="button"
							th:href="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, searchString=${param.searchString}, platform=ps4)}"
							th:classappend="${param.platform != null} ? (${param.platform[0] == 'ps4'} ? 'active' : '') : ''">
							Playstation 4</a>
						<a class="btn btn-default btn-icon" role="button"
							th:href="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, searchString=${param.searchString}, platform=xbox)}"
							th:classappend="${param.platform != null} ? (${param.platform[0] == 'xbox'} ? 'active' : '') : ''">
							Xbox One</a>
						<a class="btn btn-default btn-icon" role="button"
							th:href="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, searchString=${param.searchString}, platform=pc)}"
							th:classappend="${param.platform != null} ? (${param.platform[0] == 'pc'} ? 'active' : '') : ''">
							Pc</a>
					</div>
				</div>
				<div class="row mb-3" th:if="${param.searchString != null && param.searchString[0] != ''}"
					th:text="'Risultati per: ' + ${param.searchString}"></div>
				<div class="row">
					<div th:each="videogioco : ${videogiochiPage.content}" class="col-12 col-sm-6 col-md-4">
						<div class="card card-lg">
							<div class="card-img">
								<a th:href="@{'/videogiochi/details?idVideogioco=' + ${videogioco.id}}">
									<img style="height: 268px; object-fit: cover;" th:src="${videogioco.imageUrl}"
										class="card-img-top"></a>
										
								<form th:action="@{/videogiochi/gameFromWishlist}" th:object="${videogioco}">
								<input type="hidden" th:name="uri" th:value="${#httpServletRequest.requestURI}">
								<button th:value="${videogioco.id}" th:name="videogioco" class="btn btn-link p-a-5" type="submit"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiDesiderati.contains(videogioco)} ? 'color: red' : 'color: light-grey') : 'color: light-grey'">
								<i class="fa fa-heart"></i></button></form>
								
								<form th:action="@{/videogiochi/gameFromPlayedlist}" th:object="${videogioco}">
								<input type="hidden" th:name="uri" th:value="${#httpServletRequest.requestURI}">
								<button th:value="${videogioco.id}" th:name="videogioco" class="btn btn-link p-a-5" type="submit"
								th:style="${#authorization.expression('isAuthenticated()')} ? (${utente.videogiochiGiocati.contains(videogioco)} ? 'color: red' : 'color: light-grey') : 'color: light-grey'">
								<i class="fa fa-gamepad"></i></button></form>
					
							</div>
							<div class="card-block" style="height: 133px;">
								<div th:if="${videogioco.ps4 != false}" class="badge badge-ps4"
									style="position: relative; bottom: 13px;">Ps4</div>
								<div th:if="${videogioco.xbox != false}" class="badge badge-xbox-one"
									style="position: relative; bottom: 13px;">Xbox One</div>
								<div th:if="${videogioco.pc != false}" class="badge"
									style="position: relative; bottom: 13px;" th:classappend="badge-steam">Pc</div>
								<h4>
									<a th:href="@{'/videogiochi/details?idVideogioco=' + ${videogioco.id}}"
										th:text="${videogioco.titolo}">
									</a>
								</h4>
								<div class="card-meta">
									<span th:text="${videogioco.annoDiUscita}"> </span>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div th:if="${videogiochiPage.totalPages > 0}" class="pagination-results m-t-0">
					<nav aria-label="Page navigation">
						<ul class="pagination">
							<li th:each="pageNumber : ${pageNumbers}" class="page-item">
								<a th:href="@{/videogiochi/list(size=${videogiochiPage.size}, page=${pageNumber}, searchString=${param.searchString}, platform=${param.platform})}"
									th:text=${pageNumber} class="page-link"
									th:style="${pageNumber==videogiochiPage.number + 1} ? 'background-color:#F5F5F5'"></a>
							</li>
						</ul>
					</nav>
				</div>
			</div>
		</section>
	</div>
</body>

</html>