<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>
	<!-- main -->
	<div layout:fragment="content">
		<script>
			function listWithIndex(index) {
				window.location.href = "profilo?index=" + index;
			}
		</script>
		<script>
			function removeGameFromWishlist(idVideogioco) {
				$.ajax({
					url: '[(@{/videogiochi/removeGameFromWishlist})]',
					type: "POST",
					data: 'idVideogioco=' + idVideogioco,
					success: function (response) {
						// const queryString = window.location.search
						// const urlParams = new URLSearchParams(queryString);
						// window.open("profilo?index=" + urlParams.get('index'), "_self")
						window.open('profilo?index=2', "_self")
					}
				});
			}
		</script>
		<script>
			function removeGameFromPlayedlist(idVideogioco) {
				$.ajax({
					url: '[(@{/videogiochi/removeGameFromPlayedlist})]',
					type: "POST",
					data: 'idVideogioco=' + idVideogioco,
					success: function (response) {
						// const queryString = window.location.search
						// const urlParams = new URLSearchParams(queryString);
						//window.open("profilo?index=" + urlParams.get('index'), "_self")
						window.open('profilo?index=3', "_self")
					}
				});
			}
		</script>
		<script>
			function removeGameFromSellinglist(idVideogioco) {
				$.ajax({
					url: '[(@{/videogiochi/removeGameFromSellinglist})]',
					type: "POST",
					data: 'idVideogioco=' + idVideogioco,
					success: function (response) {
						// const queryString = window.location.search
						// const urlParams = new URLSearchParams(queryString);
						// window.open("details?idVideogioco=" + urlParams.get('index'), "_self")
						window.open('profilo?index=4', "_self")
					}
				});
			}
		</script>
		<section th:object="${profilo}" method="get" class="hero hero-game"
			style="background-image: url('https://img.youtube.com/vi/D3pYbbA1kfk/maxresdefault.jpg');">
			<div class="overlay"></div>
			<div class="container">
				<div class="hero-block text-center">
					<h1 class="hero-title">[[#{common.profile}]]</h1>
				</div>
			</div>
		</section>
		<section class="toolbar toolbar-profile" data-fixed="true">
			<div class="container">
				<div class="tabs-color">
					<ul class="nav nav-tabs toolbar-nav hidden-md-down" role="tablist">
						<li class=""
							th:class="${param.index != null} ? (${param.index[0] == '1'} ? 'nav-item active' : 'nav-item') : 'nav-item'">
							<a class="nav-link" href="#account" th:onclick="|listWithIndex(1)|" role="tab"
								data-toggle="tab"><i class="fa fa-user"></i> [[#{common.profile}]]</a>
						</li>
						<li class=""
							th:class="${param.index != null} ? (${param.index[0] == '2'} ? 'nav-item active' : 'nav-item') : 'nav-item'">
							<a class="nav-link" href="#wishlist" th:onclick="|listWithIndex(2)|" role="tab"
					data-toggle="tab"><i class="fa fa-heart"></i> [[#{profilo.wishlist}]]</a></li>
						<li class=""
							th:class="${param.index != null} ? (${param.index[0] == '3'} ? 'nav-item active' : 'nav-item') : 'nav-item'">
							<a class="nav-link" href="#playedlist" th:onclick="|listWithIndex(3)|" role="tab"
								data-toggle="tab"><i class="fa fa-gamepad"></i> [[#{profilo.giocati}]]</a></li>
						<li class=""
							th:class="${param.index != null} ? (${param.index[0] == '4'} ? 'nav-item active' : 'nav-item') : 'nav-item'">
							<a class="nav-link" href="#sellinglist" th:onclick="|listWithIndex(4)|" role="tab"
								data-toggle="tab"><i class="fa fa-shopping-cart"></i>[[#{profilo.venduti}]]</a></li>
					</ul>
				</div>
		</section>
		<section class="p-y-10">
			<div class="container">
				<div class="alert alert-success" role="alert" th:text="#{common.operazioneok}" th:if="${success}"></div>
				<div class="row">
					<div class="col-lg-6 mx-auto">
						<!-- post -->
						<div class="post post-card post-profile tab-content">
							<div class="tab-content">
								<div class="tab-pane" id="account" role="tabpanel"
									th:class="${param.index != null} ? (${param.index[0] == '1'} ? 'tab-pane active' : 'tab-pane') : 'tab-pane'">
									<form class="form-horizontal" th:action="@{/common/profilo}" th:object="${profilo}"
										method="post">
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-user"></i>
											<input type="text" th:field="*{username}"
												class="form-control form-control-secondary" placeholder="Username">
										</div>
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-user"></i>
											<input type="text" th:field="*{nome}"
												class="form-control form-control-secondary" th:placeholder="#{profilo.nome}" required
												maxlength="100">
										</div>
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-user"></i>
											<input type="text" th:field="*{cognome}"
												class="form-control form-control-secondary" th:placeholder="#{profilo.cognome}"
												required maxlength="100">
										</div>
										<div class="form-group input-icon-left m-b-10">
											<i class="fa fa-envelope"></i>
											<input type="email" th:field="*{email}"
												class="form-control form-control-secondary" placeholder="Email Address"
												required maxlength="100">
										</div>
										<button type="submit" th:text="#{common.submit}"
											class="btn btn-primary m-t-10 btn-block"></button>
									</form>
								</div>
								<div class="tab-pane" id="wishlist" role="tabpanel"
									th:class="${param.index != null} ? (${param.index[0] == '2'} ? 'tab-pane active' : 'tab-pane') : 'tab-pane'">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>[[#{profilo.nomegioco}]]</th>
												<th>[[#{profilo.piattaformagioco}]]</th>
												<th>[[#{profilo.azioni}]]</th>
											</tr>
										</thead>
										<tbody th:each="videogioco : ${videogiochi}">
											<tr th:if="${wishList.contains(videogioco.id)}">
												<td th:text="${videogioco.titolo}"></td>
												<td th:if="${videogioco.xboxUrl != null}" class="badge badge-xbox-one"
													style="position: relative; bottom: -8px; margin-right: 5px">Xbox One
												</td>
												<td th:if="${videogioco.ps4Url != null}" class="badge badge-ps4"
													style="position: relative; bottom: -8px; margin-right: 5px">PS4</td>
												<td th:if="${videogioco.pcUrl != null}" class="badge badge-steam"
													style="position: relative; bottom: -8px; margin-right: 5px">PC</td>
												<td>
													<a class="btn btn-link p-a-5"
														th:onclick="|removeGameFromWishlist('${videogioco.id}')|"><i
															class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<div class="tab-pane" id="playedlist" role="tabpanel"
									th:class="${param.index != null} ? (${param.index[0] == '3'} ? 'tab-pane active' : 'tab-pane') : 'tab-pane'">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>[[#{profilo.nomegioco}]]</th>
												<th>[[#{profilo.piattaformagioco}]]</th>
												<th>[[#{profilo.azioni}]]</th>
											</tr>
										</thead>
										<tbody th:each="videogioco : ${videogiochi}">
											<tr th:if="${playedList.contains(videogioco.id)}">
												<td th:text="${videogioco.titolo}"></td>
												<td th:if="${videogioco.xboxUrl != null}" class="badge badge-xbox-one"
													style="position: relative; bottom: -8px; margin-right: 5px">Xbox One
												</td>
												<td th:if="${videogioco.ps4Url != null}" class="badge badge-ps4"
													style="position: relative; bottom: -8px; margin-right: 5px">PS4</td>
												<td th:if="${videogioco.pcUrl != null}" class="badge badge-steam"
													style="position: relative; bottom: -8px; margin-right: 5px">PC</td>
												<td>
													<a class="btn btn-link p-a-5"
														th:onclick="|removeGameFromPlayedlist('${videogioco.id}')|"><i
															class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										</tbody>
									</table>

								</div>
								<div class="tab-pane" id="sellinglist" role="tabpanel"
									th:class="${param.index != null} ? (${param.index[0] == '4'} ? 'tab-pane active' : 'tab-pane') : 'tab-pane'">
									<table class="table table-hover">
										<thead>
											<tr>
												<th>[[#{profilo.nomegioco}]]</th>
												<th>[[#{profilo.piattaformagioco}]]</th>
												<th>[[#{profilo.azioni}]]</th>
											</tr>
										</thead>
										<tbody th:each="videogioco : ${videogiochi}">
											<tr th:if="${sellingList.contains(videogioco.id)}">
												<td th:text="${videogioco.titolo}"></td>
												<td th:if="${videogioco.xboxUrl != null}" class="badge badge-xbox-one"
													style="position: relative; bottom: -8px; margin-right: 5px">Xbox One
												</td>
												<td th:if="${videogioco.ps4Url != null}" class="badge badge-ps4"
													style="position: relative; bottom: -8px; margin-right: 5px">PS4</td>
												<td th:if="${videogioco.pcUrl != null}" class="badge badge-steam"
													style="position: relative; bottom: -8px; margin-right: 5px">PC</td>
												<td>
													<a class="btn btn-link p-a-5"
														th:onclick="|removeGameFromSellinglist('${videogioco.id}')|"><i
															class="fa fa-trash-o"></i></a>
												</td>
											</tr>
										</tbody>
									</table>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
	</div>
	</section>
	</div>
	<!-- plugins js -->
	<script src="plugins/sticky/jquery.sticky.js"></script>
	<script src="plugins/lightbox/lightbox.js"></script>
	<script>
		(function ($) {
			"use strict";
			// lightbox
			$('[data-lightbox]').lightbox({
				disqus: 'gameforestyakuzieu'
			});
		})(jQuery);
	</script>
</body>

</html>