<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>

	<!-- main -->
	<div layout:fragment="content">

		<section class="bg-image bg-image-sm"
			style="background-image: url('https://img.youtube.com/vi/BhTkoDVgF6s/maxresdefault.jpg');">
			<div class="overlay"></div>
			<div class="container">
				<div class="alert alert-danger" role="alert" th:text="${error}" th:if="${error}"></div>
				<div class="row">
					<div class="col-12 col-sm-8 col-md-4 mx-auto">
						<div class="card">
							<div class="card-header">
								<h4 class="card-title"><i class="fa fa-user-plus"></i> Register a new account</h4>
							</div>
							<div class="card-block">
								<form th:action="@{/common/register}" th:object="${utente}" method="post">

									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-envelope"></i>
										<input type="text" class="form-control form-control-secondary"
											th:field="*{nome}" placeholder="Name" required autofocus="autofocus">
									</div>
									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-envelope"></i>
										<input type="text" class="form-control form-control-secondary"
											th:field="*{cognome}" placeholder="Surname" required autofocus="autofocus">
									</div>
									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-user"></i>
										<input type="text" class="form-control form-control-secondary"
											th:field="*{username}" placeholder="Username" required
											autofocus="autofocus">
									</div>
									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-envelope"></i>
										<input type="email" class="form-control form-control-secondary"
											th:field="*{email}" placeholder="Email Address" required
											autofocus="autofocus">
									</div>
									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-lock"></i>
										<input type="password" class="form-control form-control-secondary"
											th:field="*{password}" placeholder="Password" required
											autofocus="autofocus">
									</div>
									<div class="form-group input-icon-left m-b-10">
										<i class="fa fa-lock"></i>
										<input type="password" class="form-control form-control-secondary"
											th:field="*{matchingPassword}" placeholder="Ripeti Password" required
											autofocus="autofocus">
									</div>
									<button type="submit" class="btn btn-primary m-t-10 btn-block">Complete
										Registration</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<!-- /main -->
</body>

</html>