<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{layout/layout}">
<body>

  <!-- main -->
  <div layout:fragment="content">
  
  <!--<script th:inline="javascript">
    (function($) {
      "use strict";

      // Full Width Carousel
      $('.owl-slide').owlCarousel({
        nav: true,
        loop: true,
        autoplay: true,
        items: 1
      });

      // Recent Reviews
      $('.owl-list').owlCarousel({
        margin: 25,
        nav: true,
        dots: false,
        responsive: {
          0: {
            items: 1
          },
          500: {
            items: 2
          },
          701: {
            items: 3
          },
          1000: {
            items: 4
          }
        }
      });

      // lightbox
      $('[data-lightbox]').lightbox();
    })(jQuery);
  </script> -->
  
  <section class="p-y-80">
    <div class="container">
      <div class="heading">
        <i class="fa fa-steam"></i>
        <div class="alert alert-success" role="alert" th:text="#{common.operazioneok}" th:if="${success}"></div>
         <p th:if="${param.error != null}" th:text="#{common.loginerror}"></p>
        <h2>Recent Games</h2>
        <a href="#" th:href="@{/videogiochi/list?index=1}" style="font-size: 20px; color: red;">Per comodità videogiochi list</a> 
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="#" th:href="@{/common/login}"><img src="img/game/game-1.jpg" class="card-img-top" alt="Assassin's Creed Syndicate"></a>
              <div class="badge badge-warning">pc</div>
              <div class="card-likes">
                <a href="#">15</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">Assassin's Creed Syndicate</a></h4>
              <div class="card-meta"><span>June 13, 2017</span></div>
              <p class="card-text">Defeating the corrupt tyrants entrenched there will require not only strength, but leadership.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html"><img src="img/game/game-2.jpg" class="card-img-top" alt="Rise of the Tomb Raider"></a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">87</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">Rise of the Tomb Raider</a></h4>
              <div class="card-meta"><span>November 10, 2015</span></div>
              <p class="card-text">Tomb Raider, Lara becomes more than a survivor as she embarks on her first great.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html"><img src="img/game/game-3.jpg" class="card-img-top" alt="The Witcher 3: Wild Hunt"></a>
              <div class="badge badge-ps4">ps4</div>
              <div class="card-likes">
                <a href="#">23</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">The Witcher 3: Wild Hunt</a></h4>
              <div class="card-meta"><span>March 15, 2017</span></div>
              <p class="card-text">The world is in chaos. The air is thick with tension and the smoke of burnt villages.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html"><img src="img/game/game-4.jpg" class="card-img-top" alt="Grand Theft Auto V"></a>
              <div class="badge badge-steam">Steam</div>
              <div class="card-likes">
                <a href="#">19</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">Grand Theft Auto V</a></h4>
              <div class="card-meta"><span>February 2, 2017</span></div>
              <p class="card-text">Trouble taps on your window again with this next chapter in the Grand Theft Auto universe.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html"><img src="img/game/game-5.jpg" class="card-img-top" alt="Deadpool The Game"></a>
              <div class="badge badge-ps4">Ps4</div>
              <div class="card-likes">
                <a href="#">36</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">Deadpool The Game</a></h4>
              <div class="card-meta"><span>Unknown Release Date</span></div>
              <p class="card-text">There are a few important things I need to say before you crack into my insanely sweet game.</p>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4">
          <div class="card card-lg">
            <div class="card-img">
              <a href="game-post.html"><img src="img/game/game-6.jpg" class="card-img-top" alt="Grand Theft Auto Online"></a>
              <div class="badge badge-xbox-one">Xbox One</div>
              <div class="card-likes">
                <a href="#">73</a>
              </div>
            </div>
            <div class="card-block">
              <h4 class="card-title"><a href="game-post.html">Grand Theft Auto Online</a></h4>
              <div class="card-meta"><span>January 16, 2017</span></div>
              <p class="card-text">Grand Theft Auto Online is designed to continually expand and evolve over time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="text-center"><a class="btn btn-primary btn-shadow btn-rounded btn-effect btn-lg m-t-10" href="games.html">Show More</a></div>
    </div>
  </section>

  <section class="bg-secondary no-border-bottom p-y-80">
    <div class="container">
      <div class="heading">
        <i class="fa fa-star"></i>
        <h2>Recent Reviews</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
      </div>
      <div class="owl-carousel owl-list">
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-1.jpg" alt="">
          <div class="badge badge-success">7.2</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Uncharted 4</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-2.jpg" alt="">
          <div class="badge badge-warning">5.4</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Hitman: Absolution</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-3.jpg" alt="">
          <div class="badge badge-danger">2.1</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Last of us: Remastered</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-4.jpg" alt="">
          <div class="badge badge-success">7.8</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Bioshock: Infinite</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-5.jpg" alt="">
          <div class="badge badge-success">8.9</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Grand Theft Auto: 5</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-6.jpg" alt="">
          <div class="badge badge-warning">4.7</div>
        </a>
          <div class="card-block">
            <h4 class="card-title"><a href="review-post.html">Dayz</a></h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
        <div class="card card-review">
          <a class="card-img" href="review-post.html">
          <img src="img/review/review-7.jpg" alt="">
          <div class="badge badge-danger">3.1</div>
        </a>
          <div class="card-block">
            <h4 class="card-title">
              <a href="review-post.html">Liberty City</a>
            </h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  </div>
  <!-- /main -->

<!-- plugins js -->
  <script src="plugins/lightbox/lightbox.js" th:src="@{/plugins/lightbox/lightbox.js}"></script>
  <script src="plugins/owl-carousel/js/owl.carousel.min.js" th:src="@{/plugins/owl-carousel/js/owl.carousel.min.js}"></script>
  
  
</body>
</html>