<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.thymeleaf.org"
	layout:decorate="~{layout/layout}">

<body>
	<!-- main -->
	<div layout:fragment="content">
		<section class="p-y-80">
			<div class="container">
				<div class="heading">
					<a th:href="@{/videogiochi/list?size=6&page=1}"
						style="font-size: 20px; color: black;">[[#{justplay.welcome}]]</p>
				</div>
				<div class="row" style="align-items: center; flex-direction: column;">
					<div class="col-12 col-sm-6 col-md-3">
						<div class="card card-lg">
							<div class="card-img">
								<a href="https://www.univaq.it/"><img
										src="https://pbs.twimg.com/profile_images/844881776/logo-univaq.png"
										class="card-img-top"></a>
							</div>
						</div>
					</div>
				</div>
		</section>
	</div>
	<!-- /main -->
</body>

</html>