<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<!-- footer -->
  <footer id="footer" th:fragment="footer">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 col-md-5">
          <h4 class="footer-title">[(#{common.applicationtitle})]</h4>
          <p>[(#{common.story})]</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h4 class="footer-title">Subscribe</h4>
          <p>Subscribe to our newsletter and get notification when new games are available.</p>
          <div class="input-group m-t-25">
            <input type="text" class="form-control" placeholder="Email">
            <span class="input-group-btn">
            <button class="btn btn-primary" type="button">Subscribe</button>
          </span>
          </div>
        </div>
      </div>
      <div class="footer-bottom">
        <p>Copyright &copy; 2017 - [[${#calendars.format(#calendars.createNow(), 'yyyy')}]] <a href="#" th:text="#{common.applicationtitle}" target="_blank">JustPlay</a>. [(#{common.allrightreserved})].</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->
</body>
</html>