<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<body>
	<!-- footer -->
	<footer id="footer" th:fragment="footer">
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12">
					<h4 class="footer-title">[(#{common.applicationtitle})]</h4>
					<p>[(#{common.story})]</p>
				</div>
			</div>
			<div class="footer-bottom">
				<p>Copyright &copy; 2017 - [[${#calendars.format(#calendars.createNow(), 'yyyy')}]] <a href="#" th:text="#{common.applicationtitle}" target="_blank">JustPlay</a>. [(#{common.allrightreserved})].</p>
      </div>
    </div>
  </footer>
  <!-- /footer -->
</body>
</html>