<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<body>
	<!-- header -->
	<header id="header" th:fragment="header">
		<div class="container">
			<div class="navbar-backdrop">
				<div class="navbar">
					<div class="navbar-left">
						<a class="navbar-toggle"><i class="fa fa-bars"></i></a>
						<a href="#" th:href="@{'/'}" class="logo"><img
								src="/justplay/img/logo.png" alt="JustPlay"></a>
						<nav class="nav">
							<ul>
								<li>
									<a href="#" th:href="@{/videogiochi/list?size=6&page=1}">Home</a>
								</li>
							</ul>
						</nav>
					</div>
					<div class="nav navbar-right">
						<ul>
							<!-- Language Dropdown Menu -->

							<li class="has-dropdown">
								<a disabled>[[#{common.lingua}]]
									<i th:classappend="'flag-icon flag-icon-'+ (${#locale.language}=='en' ? 'gb' : ${#locale.language})"></i></a>
								<ul>
									<li><a href="#" th:href="@{/videogiochi/list?size=6&page=1&lang=en}">[[#{common.english}]]</a></li>
								<li><a href="#" th:href="@{/videogiochi/list?size=6&page=1&lang=it}">[[#{common.italian}]]</a></li>
									</ul>
								</li>
							<li sec:authorize="!isAuthenticated()" class="hidden-xs-down"><a href="#"
									th:href="@{/common/login}">[[#{common.login}]]</a></li>
							<li sec:authorize="!isAuthenticated()" class="hidden-xs-down"><a href="#"
									th:href="@{/common/register}">[[#{common.register}]]</a></li>
							<li sec:authorize="isAuthenticated()" class="hidden-xs-down has-dropdown"><a
									onclick="return false">Account</a>
								<ul>
									<li><a th:href="@{/common/profilo?index=1}">[[#{common.profile}]]</a></li>
									<li><a th:href="@{/common/profilo?index=2}">[[#{profilo.wishlist}]]</a></li>
									<li><a th:href="@{/common/profilo?index=3}">[[#{profilo.giocati}]]</a></li>
									<li><a th:href="@{/common/profilo?index=4}">[[#{profilo.venduti}]]</a></li>
									<li><a th:href="@{/common/conversations-list}">Chat</a></li>
								</ul>
							</li>
							<li sec:authorize="isAuthenticated()" class="hidden-xs-down"><a href="#"
									th:href="@{/logout}">[[#{common.logout}]]</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</header>
	<!-- /header -->
</body>

</html>