<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" th:fragment="menu">
	<!-- Brand Logo -->
	<a href="#" th:href="@{/common/welcome}" class="brand-link">
	  <img src="#" th:src="@{/dist/img/AdminLTELogo.png}" alt="JustPlay Logo" class="brand-image img-circle elevation-3" style="opacity: .8">
	  <span class="brand-text font-weight-light">JustPlay</span>
	</a>

  	<div class="sidebar">
     <nav class="mt-2">
       <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false" sec:authorize="isAuthenticated()">
		<li class="nav-item" sec:authorize="hasRole('amministratore')">
			<a href="#" th:href="@{/videogiochi/list}" class="nav-link">
			 <i class="far fa-circle nav-icon"></i>
			 <p th:text="#{menu.videogiochi}"></p>
			</a>
		</li>
       </ul>
     </nav>
	</div>
</aside>
</body>
</html>