<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Documentation v4.1.2</title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="upload/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="upload/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="upload/plugins/animate/animate.min.css">
  <link rel="stylesheet" href="docs/assets/plugins/highlight/styles/github-gist.css">
  <!-- theme stylesheet -->
  <link href="upload/css/theme.min.css" rel="stylesheet">
  <link href="docs/assets/css/app.min.css" rel="stylesheet">
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container-fluid">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="docs/index.html" class="logo"><img src="docs/assets/img/logo.png" alt="Gameforest - Game Theme HTML"></a>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li><a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/full_screen_preview/5007730" target="_blank">Preview</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="changelog.html">Changelog</a></li>
              <li><a href="https://www.facebook.com/yakuthemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <a class="btn btn-outline-default btn-rounded" href="https://themeforest.net/downloads#item-5007730" target="_blank">Rate Now <i class="fa fa-star"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div id="sidebar">
    <h2>Documentation</h2>
    <ul>
      <li class="sidebar-header"><span>Getting Started</span></li>
      <li><a href="documentation.html">Introduction</a></li>
      <li><a href="docs/pages/sass.html">Sass</a></li>
      <li><a href="docs/pages/gulp.html">Gulp</a></li>
      <li><a href="docs/pages/twig.html">Twig</a></li>
      <li><a href="docs/pages/javascript.html">JavaScript</a></li>
      <li><a href="docs/pages/plugins.html">Plugins</a></li>
      <li><a href="docs/pages/support.html">Support</a></li>
      <li class="active"><a href="changelog.html">Changelog</a></li>
      <li class="sidebar-header"><span>Components</span></li>
      <li><a href="docs/pages/accordions.html">Accordions</a></li>
      <li><a href="docs/pages/alerts.html">Alerts</a></li>
      <li><a href="docs/pages/badges.html">Badges</a></li>
      <li><a href="docs/pages/blog.html">Blog</a></li>
      <li><a href="docs/pages/buttons.html">Buttons</a></li>
      <li><a href="docs/pages/cards.html">Cards</a></li>
      <li><a href="docs/pages/carousel.html">Carousel</a></li>
      <li><a href="docs/pages/charts.html">Charts</a></li>
      <li><a href="docs/pages/columns.html">Columns</a></li>
      <li><a href="docs/pages/comment.html">Comment</a></li>
      <li><a href="docs/pages/datatable.html">DataTable</a></li>
      <li><a href="docs/pages/dropdown.html">Dropdown</a></li>
      <li><a href="docs/pages/forms.html">Forms</a></li>
      <li><a href="docs/pages/form-plugins.html">Form Plugins</a></li>
      <li><a href="docs/pages/google-maps.html">Google Maps</a></li>
      <li><a href="docs/pages/hero.html">Hero</a></li>
      <li><a href="docs/pages/icons.html">Icons</a></li>
      <li><a href="docs/pages/lightbox.html">Lightbox</a></li>
      <li><a href="docs/pages/media-player.html">Media Player</a></li>
      <li><a href="docs/pages/modal.html">Modal</a></li>
      <li><a href="docs/pages/notification.html">Notification</a></li>
      <li><a href="docs/pages/pagination.html">Pagination</a></li>
      <li><a href="docs/pages/popovers.html">Popovers</a></li>
      <li><a href="docs/pages/progress.html">Progress</a></li>
      <li><a href="docs/pages/tabs.html">Tabs</a></li>
      <li><a href="docs/pages/tables.html">Tables</a></li>
      <li><a href="docs/pages/tooltips.html">Tooltips</a></li>
      <li><a href="docs/pages/text-editor.html">Text Editor</a></li>
      <li><a href="docs/pages/typography.html">Typography</a></li>
      <li><a href="docs/pages/utilities.html">Utilities</a></li>
    </ul>
  </div>

  <!-- main -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">

          <h1 id="changelog">Changelog</h1>
          <p class="lead">Everything about Gameforest updates. The most notable changes are summarized below, followed by more specific changes to relevant components.</p>

          <div class="divider"></div>

          <div class="card card-primary">
            <div class="card-header">
              <h5 class="card-title">4.1.2 <span class="font-weight-300 m-l-5">(October 24, 2017)</span></h5>
            </div>
            <div class="card-block">
              <ul class="changelog">
                <li><span class="badge badge-outline-primary">Changed</span> Game widget font-weight changed to bold from 400</li>
                <li><span class="badge badge-outline-danger">Fixed</span> <code>.owl-slide</code> carousel caption width in scss.</li>
                <li><span class="badge badge-outline-danger">Fixed</span> <code>ul</code> padding</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Navbar dropdown menu box shadow</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Post tags width</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Search-Close icon cursor when hover</li>
                <li><span class="badge badge-outline-danger">Fixed</span> %d replaced with %D on coming soon home page.</li>
                <li><span class="badge badge-outline-warning">Removed</span> 100% width from image attr</li>
                <li><span class="badge badge-outline-info">Update</span> Lightbox plugin updated to 1.0.3</li>
                <li><span class="badge badge-outline-info">Update</span> Notification plugin updated to 1.0.1</li>
                <li><span class="badge badge-outline-info">Update</span> Component pages</li>
              </ul>
            </div>
          </div>

          <div class="m-b-70"></div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">4.1.1 <span class="font-weight-300 m-l-5">(September 19, 2017)</span></h5>
            </div>
            <div class="card-block">
              <ul class="changelog">
                <li><span class="badge badge-outline-success">Added</span> New Documentation</li>
                <li><span class="badge badge-outline-success">Added</span> <code>.badge-dark</code> to the badges.</li>
                <li><span class="badge badge-outline-success">Added</span> <code>.badge-outline-dark</code> to the badges.</li>
                <li><span class="badge badge-outline-primary">Changed</span> <code>.form-text</code> font-weight changed to 400 from 300</li>
                <li><span class="badge badge-outline-primary">Changed</span> <code>.btn-outline-inverse</code> changed to <code>.btn-outline-dark</code></li>
                <li><span class="badge badge-outline-warning">Removed</span> <code>.btn-inverse</code> removed and replaced with <code>.btn-dark</code></li>
                <li><span class="badge badge-outline-warning">Removed</span> border-bottom from the last accordion card</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Missing jquery.dataTables.min.js from plugins/datatables folder</li>
                <li><span class="badge badge-outline-danger">Fixed</span> dataTable container-fluid padding in scss</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Animated progress bar <code>.active</code> replaced with <code>.progress-bar-animated</code></li>
                <li><span class="badge badge-outline-danger">Fixed</span> Lightbox plugin animation when click to close button</li>
              </ul>
            </div>
          </div>

          <div class="m-b-70"></div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">4.1.0 <span class="font-weight-300 text-muted m-l-5">(September 5, 2017)</span></h5>
            </div>
            <div class="card-block">
              <ul class="changelog">
                <li><span class="badge badge-outline-success">Added</span> Popper.js</li>
                <li><span class="badge badge-outline-info">Update</span> Bootstrap updated to 4.0.0 beta</li>
                <li><span class="badge badge-outline-info">Update</span> jQuery updated to 3.2.1</li>
                <li><span class="badge badge-outline-warning">Removed</span> gulp-prettify replaced with gulp-jsbeautifier for clean html</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Dropdown Link in navbar on profile page</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Lightbox plugin when using it in subfolder></li>
              </ul>
            </div>
          </div>

          <div class="m-b-70"></div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">4.0.1 <span class="font-weight-300 text-muted m-l-5">(July 30, 2017)</span></h5>
            </div>
            <div class="card-block">
              <ul class="changelog">
                <li><span class="badge badge-outline-success">Added</span> Add dropdowns to profile page</li>
                <li><span class="badge badge-outline-success">Added</span> Add outline badges</li>
                <li><span class="badge badge-outline-success">Added</span> Add game widget</li>
                <li><span class="badge badge-outline-info">Update</span> components-utilities.twig</li>
                <li><span class="badge badge-outline-info">Update</span> components-utilities.twig</li>
                <li><span class="badge badge-outline-danger">Fixed</span> lightbox plugin jshint warnings</li>
                <li><span class="badge badge-outline-danger">Fixed</span> notification plugin jshint warnings</li>
                <li><span class="badge badge-outline-danger">Fixed</span> theme script jshint warnings</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Modal position css bug</li>
                <li><span class="badge badge-outline-danger">Fixed</span> Lightbox background css bug</li>
              </ul>
            </div>
          </div>

          <div class="m-b-70"></div>

          <div class="card">
            <div class="card-header">
              <h5 class="card-title">4.0.0 <span class="font-weight-300 text-muted m-l-5">(July 21, 2017)</span></h5>
            </div>
            <div class="card-block">
              <ul class="changelog">
                <li><span class="badge badge-outline-primary">Release</span> New initial release</li>
              </ul>
            </div>
          </div>

        </div>
        <div class="col-lg-3 sidebar-right">

        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <div class="version">
    version: 4.1.2
  </div>

  <!-- scripts -->
  <script src="upload/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="upload/plugins/popper/popper.min.js"></script>
  <script src="upload/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="docs/assets/plugins/clipboard/clipboard.min.js"></script>
  <script src="docs/assets/plugins/highlight/highlight.pack.js" charset="utf-8"></script>

  <script src="upload/js/theme.min.js"></script>
  <script src="docs/assets/js/app.min.js"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>