<!DOCTYPE html>
<html lang="en">
<head>
  <!-- meta -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Gameforest - Documentation v4.1.2</title>
  <!-- stylesheet -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" type="text/css">
  <link rel="stylesheet" href="upload/plugins/font-awesome/css/font-awesome.min.css">
  <link rel="stylesheet" href="upload/plugins/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="upload/plugins/animate/animate.min.css">
  <link rel="stylesheet" href="docs/assets/plugins/highlight/styles/github-gist.css">
  <!-- plugins -->
  <link rel="stylesheet" href="docs/assets/plugins/jstree/themes/default/style.min.css">
  <!-- theme stylesheet -->
  <link href="upload/css/theme.min.css" rel="stylesheet">
  <link href="docs/assets/css/app.min.css" rel="stylesheet">
</head>
<body class="fixed-header">
  <!-- header -->
  <header id="header">
    <div class="container-fluid">
      <div class="navbar-backdrop">
        <div class="navbar">
          <div class="navbar-left">
            <a class="navbar-toggle"><i class="fa fa-bars"></i></a>
            <a href="docs/index.html" class="logo"><img src="docs/assets/img/logo.png" alt="Gameforest - Game Theme HTML"></a>
          </div>
          <div class="nav navbar-right">
            <ul>
              <li><a href="https://themeforest.net/item/gameforest-responsive-gaming-html-theme/full_screen_preview/5007730" target="_blank">Preview</a></li>
              <li><a href="documentation.html">Documentation</a></li>
              <li><a href="changelog.html">Changelog</a></li>
              <li><a href="https://www.facebook.com/yakuthemes" target="_blank"><i class="fa fa-facebook"></i></a></li>
            </ul>
            <a class="btn btn-outline-default btn-rounded" href="https://themeforest.net/downloads#item-5007730" target="_blank">Rate Now <i class="fa fa-star"></i></a>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- sidebar -->
  <div id="sidebar">
    <h2>Documentation</h2>
    <ul>
      <li class="sidebar-header"><span>Getting Started</span></li>
      <li class="active"><a href="documentation.html">Introduction</a></li>
      <li><a href="docs/pages/sass.html">Sass</a></li>
      <li><a href="docs/pages/gulp.html">Gulp</a></li>
      <li><a href="docs/pages/twig.html">Twig</a></li>
      <li><a href="docs/pages/javascript.html">JavaScript</a></li>
      <li><a href="docs/pages/plugins.html">Plugins</a></li>
      <li><a href="docs/pages/support.html">Support</a></li>
      <li><a href="changelog.html">Changelog</a></li>
      <li class="sidebar-header"><span>Components</span></li>
      <li><a href="docs/pages/accordions.html">Accordions</a></li>
      <li><a href="docs/pages/alerts.html">Alerts</a></li>
      <li><a href="docs/pages/badges.html">Badges</a></li>
      <li><a href="docs/pages/blog.html">Blog</a></li>
      <li><a href="docs/pages/buttons.html">Buttons</a></li>
      <li><a href="docs/pages/cards.html">Cards</a></li>
      <li><a href="docs/pages/carousel.html">Carousel</a></li>
      <li><a href="docs/pages/charts.html">Charts</a></li>
      <li><a href="docs/pages/columns.html">Columns</a></li>
      <li><a href="docs/pages/comment.html">Comment</a></li>
      <li><a href="docs/pages/datatable.html">DataTable</a></li>
      <li><a href="docs/pages/dropdown.html">Dropdown</a></li>
      <li><a href="docs/pages/forms.html">Forms</a></li>
      <li><a href="docs/pages/form-plugins.html">Form Plugins</a></li>
      <li><a href="docs/pages/google-maps.html">Google Maps</a></li>
      <li><a href="docs/pages/hero.html">Hero</a></li>
      <li><a href="docs/pages/icons.html">Icons</a></li>
      <li><a href="docs/pages/lightbox.html">Lightbox</a></li>
      <li><a href="docs/pages/media-player.html">Media Player</a></li>
      <li><a href="docs/pages/modal.html">Modal</a></li>
      <li><a href="docs/pages/notification.html">Notification</a></li>
      <li><a href="docs/pages/pagination.html">Pagination</a></li>
      <li><a href="docs/pages/popovers.html">Popovers</a></li>
      <li><a href="docs/pages/progress.html">Progress</a></li>
      <li><a href="docs/pages/tabs.html">Tabs</a></li>
      <li><a href="docs/pages/tables.html">Tables</a></li>
      <li><a href="docs/pages/tooltips.html">Tooltips</a></li>
      <li><a href="docs/pages/text-editor.html">Text Editor</a></li>
      <li><a href="docs/pages/typography.html">Typography</a></li>
      <li><a href="docs/pages/utilities.html">Utilities</a></li>
    </ul>
  </div>

  <!-- main -->
  <section id="main">
    <div class="container">
      <div class="row">
        <div class="col-lg-9">

          <h1 id="introduction">Introduction</h1>
          <p class="lead">Gameforest built with Bootstrap 4- the world’s most popular framework for building responsive, mobile-first sites and applications. Inside you’ll find high quality HTML, CSS, SASS, TWIG and JavaScript to make starting any project easier than
            ever.</p>

          <div class="divider"></div>

          <h2 id="whats-included">What's included</h2>
          <p>Within Gameforest theme you’ll find the following directories and files, grouping common resources and providing both compiled and minified distribution files, as well as raw source files.</p>
          <div id="files">
            <ul>
              <li class="jstree-open">build
                <ul>
                  <li>js
                    <ul>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.js</li>
                    </ul>
                  </li>
                  <li>scss
                    <ul>
                      <li>mixins
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_alerts.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_badges.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_breakpoints.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_buttons.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_forms.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_grid.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_grid-framework.scss</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>_utilities.scss</li>
                        </ul>
                      </li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_accordion.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_alerts.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_animation.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_badge.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_buttons.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_cards.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_carousel.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_comments.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_custom.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_demo.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_dropdown.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_footer.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_forms.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_forums.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_gallery.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_grid.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_header.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_heading.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_hero.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_layouts.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_lightbox.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_mixins.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_modals.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_notification.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_pagination.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_plugins.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_popover.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_posts.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_progress.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_responsive.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_section.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_tables.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_tabs.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_type.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_utilities.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_variables.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>_widgets.scss</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.scss</li>
                    </ul>
                  </li>
                  <li>twig
                    <ul>
                      <li>views
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>footer.twig</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>header.twig</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>layout.twig</li>
                        </ul>
                      </li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>404.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blank-page.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-cards.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-columns.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-medium.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-audio.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-carousel.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-disqus.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-facebook.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-medium.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-video.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-sidebar.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>blog-timeline.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-accordions.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-alerts.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-badges.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-buttons.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-cards.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-carousel.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-charts.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-columns.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-data-tables.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-dropdowns.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-controls.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-layouts.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-plugins.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-google-maps.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-hero.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-icons.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-lightbox.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-media-player.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-modals.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-notifications.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-pagination.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-popovers.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-progress-bars.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-promo-boxes.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-social.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-tables.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-tabs.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-text-editor.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-typography.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-utilities.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-video-background.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>components-widgets.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>contact.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>faq.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>forum-create.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>forum-post.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>forums.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>forum-topic.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>full-width.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>gallery.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>game-post.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>games.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>home-blog.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>home-coming-soon.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>home-magazine.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>home-streamer.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>home-videos.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>index.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>login.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>login-2.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>profile.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>register.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>review-post.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>reviews.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>video-post.twig</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>videos.twig</li>
                    </ul>
                  </li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>gulpfile.js</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>package.js</li>
                </ul>
              </li>
              <li>upload
                <ul>
                  <li>css
                    <ul>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>custom.css</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.css</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.min.css</li>
                    </ul>
                  </li>
                  <li>img</li>
                  <li>js
                    <ul>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.js</li>
                      <li data-jstree='{"icon":"fa fa-file-o"}'>theme.min.js</li>
                    </ul>
                  </li>
                  <li>plugins
                    <ul>
                      <li>animate
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>animate.min.css</li>
                        </ul>
                      </li>
                      <li>bootstrap
                        <ul>
                          <li>css
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>bootstrap.min.css</li>
                            </ul>
                          </li>
                          <li>js
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>bootstrap.min.js</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>countdown
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.countdown.min.js</li>
                        </ul>
                      </li>
                      <li>datatables
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>dataTables.bootstrap4.min.js</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>dataTables.bootstrap4.min.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.dataTables.min.js</li>
                        </ul>
                      </li>
                      <li>easypiechart
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.easing.1.3.js</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.easypiechart.min.js</li>
                        </ul>
                      </li>
                      <li>flatpickr
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>flatpickr.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>flatpickr.js</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>flatpickr.min.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>flatpickr.min.js</li>
                        </ul>
                      </li>
                      <li>font-awesome
                        <ul>
                          <li>css
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>font-awesome.css</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>font-awesome.min.css</li>
                            </ul>
                          </li>
                          <li>fonts
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>FontAwesome.otf</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>fontawesome-webfont.eot</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>fontawesome-webfont.svg</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>fontawesome-webfont.ttf</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>fontawesome-webfont.woff</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>fontawesome-webfont.woff2</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>jquery
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery-3.2.1.min.js</li>
                        </ul>
                      </li>
                      <li>lightbox
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>lightbox.js</li>
                        </ul>
                      </li>
                      <li>morris
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>morris.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>morris.js</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>morris.min.js</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>raphael-2.1.0.min.js</li>
                        </ul>
                      </li>
                      <li>notification
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>notification.js</li>
                        </ul>
                      </li>
                      <li>owl-carousel
                        <ul>
                          <li>css
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-image-o"}'>ajax-loader.gif</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>owl.carousel.css</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>owl.carousel.min.css</li>
                              <li data-jstree='{"icon":"fa fa-file-image-o"}'>owl.video.play.png</li>
                            </ul>
                          </li>
                          <li>js
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>owl.carousel.js</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>owl.carousel.min.js</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>prettify
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>prettify.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>prettify.js</li>
                        </ul>
                      </li>
                      <li>select2
                        <ul>
                          <li>css
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.css</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.min.css</li>
                            </ul>
                          </li>
                          <li>js
                            <ul>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.js</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.full.js</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.full.min.js</li>
                              <li data-jstree='{"icon":"fa fa-file-o"}'>select2.min.js</li>
                            </ul>
                          </li>
                        </ul>
                      </li>
                      <li>sticky
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.sticky.js</li>
                        </ul>
                      </li>
                      <li>summernote
                        <ul>
                          <li>font
                            <li data-jstree='{"icon":"fa fa-file-o"}'>summernote.eot</li>
                            <li data-jstree='{"icon":"fa fa-file-o"}'>summernote.ttf</li>
                            <li data-jstree='{"icon":"fa fa-file-o"}'>summernote.woff</li>
                          </li>
                          <li>lang</li>
                          <li>plugin</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>summernote-bs4.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>summernote-bs4.js</li>
                        </ul>
                      </li>
                      <li>switchery
                        <ul>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>switchery.min.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>switchery.min.js</li>
                        </ul>
                      </li>
                      <li>ytplayer
                        <ul>
                          <li>images</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.mb.YTPlayer.min.css</li>
                          <li data-jstree='{"icon":"fa fa-file-o"}'>jquery.mb.YTPlayer.min.js</li>
                        </ul>
                      </li>
                    </ul>
                  </li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>404.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blank-page.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-cards.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-columns.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-medium.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-audio.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-carousel.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-disqus.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-facebook.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-medium.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-post-video.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-sidebar.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>blog-timeline.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-accordions.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-alerts.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-badges.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-buttons.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-cards.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-carousel.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-charts.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-columns.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-data-tables.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-dropdowns.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-controls.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-layouts.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-form-plugins.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-google-maps.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-hero.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-icons.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-lightbox.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-media-player.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-modals.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-notifications.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-pagination.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-popovers.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-progress-bars.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-promo-boxes.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-social.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-tables.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-tabs.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-text-editor.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-typography.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-utilities.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-video-background.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>components-widgets.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>contact.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>faq.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>forum-create.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>forum-post.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>forums.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>forum-topic.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>full-width.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>gallery.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>game-post.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>games.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>home-blog.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>home-coming-soon.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>home-magazine.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>home-streamer.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>home-videos.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>index.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>login.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>login-2.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>profile.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>register.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>review-post.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>reviews.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>video-post.html</li>
                  <li data-jstree='{"icon":"fa fa-file-o"}'>videos.html</li>
                </ul>
              </li>
            </ul>
          </div>

          <div class="divider"></div>

          <h2 id="html-markup" class="m-t-70">HTML markup</h2>
          <p>The basic template is a guideline for how to structure your pages when building with the Gameforest Theme. Included below are all the necessary bits for using the theme’s CSS and JS, as well as some friendly reminders.</p>
          <pre><button class="btn" data-toggle="tooltip" title="Copy to clipboard!" data-clipboard-snippet><i class="fa fa-clipboard"></i></button><code class="html">&lt;!DOCTYPE html&gt;
&lt;html lang=&quot;en&quot;&gt;
  &lt;head&gt;
    &lt;!-- meta --&gt;
    &lt;meta charset="utf-8"&gt;
    &lt;meta http-equiv="X-UA-Compatible" content="IE=edge"&gt;
    &lt;meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"&gt;
    &lt;title&gt;Gameforest - Gaming Theme HTML&lt;/title&gt;
    &lt;!-- vendor css --&gt;
    &lt;link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700"&gt;
    &lt;link rel="stylesheet" href="plugins/font-awesome/css/font-awesome.min.css"&gt;
    &lt;link rel="stylesheet" href="plugins/bootstrap/css/bootstrap.min.css"&gt;
    &lt;link rel="stylesheet" href="plugins/animate/animate.min.css"&gt;
    &lt;!-- theme css --&gt;
    &lt;link rel="stylesheet" href="css/theme.min.css"&gt;
    &lt;link rel="stylesheet" href="css/custom.css"&gt;
  &lt;/head&gt;
  &lt;body class="fixed-header"&gt;
    &lt;h1&gt;Hello, world!&lt;/h1&gt;

    &lt;!-- vendor js --&gt;
    &lt;script src=&quot;plugins/jquery/jquery-3.2.1.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;plugins/popper/popper.min.js&quot;&gt;&lt;/script&gt;
    &lt;script src=&quot;plugins/bootstrap/js/bootstrap.min.js&quot;&gt;&lt;/script&gt;

    &lt;!-- theme js --&gt;
    &lt;script src=&quot;js/theme.min.js&quot;&gt;&lt;/script&gt;
  &lt;/body&gt;
&lt;/html&gt;</code></pre>
          <p>Copy the HTML below to begin working with a minimal Gameforest theme.</p>

          <div class="divider"></div>

          <h2 id="browser-support">Browser Support</h2>
          <p>The following table lists the versions that Gameforest is tested on. "Latest" means that it works just fine on all recent versions of that browser. With many browser moving towards a rolling release strategy, pinning down browser support to
            a specific version has become a little tricky in recent years. Gameforest will work on pretty much any modern browser.</p>

          <table class="table">
            <thead>
              <tr>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/chrome/chrome_48x48.png" alt="Chrome"></th>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/firefox/firefox_48x48.png" alt="Firefox"></th>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/edge/edge_48x48.png" alt="Edge"></th>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/archive/internet-explorer_9-11/internet-explorer_9-11_48x48.png" alt="IE"></th>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/safari/safari_48x48.png" alt="Safari"></th>
                <th class="text-center"><img src="https://raw.githubusercontent.com/alrra/browser-logos/master/src/opera/opera_48x48.png" alt="Opera"></th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td class="text-center">Latest</td>
                <td class="text-center">Latest</td>
                <td class="text-center">Latest</td>
                <td class="text-center">11</td>
                <td class="text-center">7.1+</td>
                <td class="text-center">Latest</td>
              </tr>
            </tbody>
          </table>

        </div>
        <div class="col-lg-3 sidebar-right">

          <ul>
            <li><a href="#introduction">Introduction</a></li>
            <li><a href="#whats-included">What's Included</a></li>
            <li><a href="#html-markup">HTML markup</a></li>
            <li><a href="#browser-support">Browser support</a></li>
            <li class="divider"></li>
            <li><a href="https://themeforest.net/user/yakuzi#contact" target="_blank"><i class="fa fa-bell-o"></i> Report issue</a></li>
            <li><a href="pages/support.html#get-help"><i class="fa fa-life-ring"></i> Get help</a></li>
          </ul>

        </div>
      </div>
    </div>
  </section>
  <!-- footer -->
  <div class="version">
    version: 4.1.2
  </div>

  <!-- scripts -->
  <script src="upload/plugins/jquery/jquery-3.2.1.min.js"></script>
  <script src="upload/plugins/popper/popper.min.js"></script>
  <script src="upload/plugins/bootstrap/js/bootstrap.min.js"></script>
  <script src="docs/assets/plugins/clipboard/clipboard.min.js"></script>
  <script src="docs/assets/plugins/highlight/highlight.pack.js" charset="utf-8"></script>

  <script src="docs/assets/plugins/jstree/jstree.min.js" charset="utf-8"></script>
  <script type="text/javascript">
    $(function() {
      $('#files').jstree();
    });
  </script>

  <script src="upload/js/theme.min.js"></script>
  <script src="docs/assets/js/app.min.js"></script>
  <script type="text/javascript">
    hljs.initHighlightingOnLoad();
  </script>
</body>
</html>